@import 'colors';

@mixin atom-box-shadow($a, $b) {
  box-shadow: inset 6px 6px 16px $a,
              inset -6px -6px 16px $b,
              6px 6px 16px $dropshadow;
}

body, h1, a , a:link, a:visited, a:hover, a:active {
    color: $darkgreen;
}

body {
  background-color: $lightgreen;
  padding: 50px;
}

.atombox {
  border: 4px solid $darkgreen;
  border-radius: 20px;
  width: 210px;
  background-color: $green;
  overflow: hidden;
  display: inline-block;

  @include atom-box-shadow($highlight, $shadow);

  &:hover {
    background-color: $highlight;
    @include atom-box-shadow($whitegreen, $lightgreen);
  }

}



.atomletter {
  margin: auto;
  padding: none;
  clear: none;
  font-size: 100px;
  font-family: sans-serif;
}


.atomnuml, .atomnumr {
  color: $darkgreen;
  font-size: 32px;
  padding: 10px 20px;
}

.atomnuml {
  float: left;
  clear: right;
}
.atomnumr {
  float: right;
}
