@import 'colors';
@import 'animations';

$squaresize: 120px;

@mixin atom-box-shadow($a, $b) {
  box-shadow: inset 6px 6px 16px $a,
              inset -6px -6px 16px $b,
              6px 6px 16px $dropshadow;
}

body, h1, a , a:link, a:visited, a:hover, a:active {
    color: $darkgreen;
}

body {
  background-color: $lightgreen;
  text-align: center;
  line-height: 1.6;
}

.header {
  background-color: $green;
  height: 50px;
  font-size: 32px;
  padding-right: 20px;
  text-align: right;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: $shadow;
  span {
    color: $highlight;
    text-shadow: 2px 2px $darkgreen,
                 4px 4px 12px #fff;
  }
}

.timebar {
  background-color: $darkgreen;
  display: inline-block;
  transition-property: width;
  transition-duration: 1s;
}

.menubutton {
  border: 4px solid $darkgreen;
  border-radius: $squaresize / 10;
  height: $squaresize;
  width: $squaresize * 3;
  background-color: $green;

  display: inline-block;

  @include atom-box-shadow($highlight, $shadow);
  &:hover {
    background-color: $highlight;
    @include atom-box-shadow($whitegreen, $lightgreen);
  }
}

.answerbox {
  width: $squaresize;
  height: $squaresize;
  @extend .menubutton;
}

.atombox {
  @extend .answerbox;
}

#menucontainer {
  margin-top: 20px;
}

.timebar i {
  font-size: 2em;
}

.bgcolor-icon {
  color: $lightgreen;
}

.element-text {
  color: #7d3636;
  font-weight: 600;
}

.atomletter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $squaresize / 2.2;
  font-family: sans-serif;
}

.atomnuml, .atomnumr {
  color: $darkgreen;
  font-size: 32px;
  padding: 10px 20px;
}

.atomnuml {
  float: left;
  clear: right;
}
.atomnumr {
  float: right;
}
