
#container.transitioned.tLeft
  h1
    | What is the symbol for&nbsp;
    span.element-text(data-bind="text: question")
    | ?
  ul(data-bind="foreach: answers")
    a(href="#" data-bind="click: $parent.nextQuestion")
      .answerbox
        .atomletter
          div(data-bind="text: $data")
          
#gameinfo.hidden(data-bind="fadeVisible: visibleGameInfo")
  h1
    i.fa.fa-trophy
    span(data-bind="text: score")
  .timebar(data-bind="style: { width: timeWidth }")
      i.fa.fa-clock-o.bgcolor-icon

//Wrong and right messages below
#wrongmessage.hidden(data-bind="fadeVisible: visibleWrong")
  | Wrong! -5
  i.fa.fa-clock-o
  br
  div(data-bind="text: correctAnswer")
#correctmessage.hidden(data-bind="fadeVisible: visibleCorrect")
  | Correct! +3
  i.fa.fa-clock-o
