doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Periodiculous
    include css.jade
  body
    .header
      span Periodiculous
    #menucontainer(data-bind="fadeVisible: visibleMenu")
      include _menu.jade
    include _question.jade
    include _result.jade

    script(src="jspm_packages/system.js", charset="utf-8")
    script(src="config.js", charset="utf-8")
    script(type="text/javascript").
      System.import('js/main.js')
