doctype html
html(lang="en")
  head
    title Periodiculous
    include css.jade
  body
    .header
      span Periodiculous
    #container.transitioned.tLeft
      include _question.jade

    script(src="jspm_packages/system.js", charset="utf-8")
    script(src="config.js", charset="utf-8")
    script(type="text/javascript").
      System.import('js/main.js')
